<<<<<<< HEAD
:root {
  //Couleurs
  --background: #1C1F2A; 
  --backgroud-note:#33A194;
  --textGray: #777D97;

  //Espacements
  --space-xsmall: 4px;
  --space-small: 8px; 
  --space-medium: 16px;
  --space-large: 24px;
  --space-xlarge: 48px;

  //Typographies
  --text: 'Geomanist';
  --title: 'Gilroy'; 

  //Taille de police
  --font-small: 12px;
  --font-body: 16px;
  --font-title: 22px;
=======
:root{
    // Couleurs
    --background: #1C1F2A;
    --background-note: #33A194;
    --textGray: #777D97;


    // Epacements
    --space-xsmall: 4px;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 24px;
    --space-xlarge: 48px;

    // Typographies
    --text: 'Geomanist';
    --title: 'Gilroy';

    // Taille de police
    --font-small: 12px;
    --font-body: 16px;
    --font-title: 22px;
>>>>>>> 4b83acd50a6b6c82739f07acaab6b217e7c0d528

}