:root {
  //Couleurs
  --background: #1C1F2A;
  --reviews-good:#33A194;
  --reviews-medium:#D19855;
  --reviews-bad:#B74C3E;
  --textGray: #8E93AB;

  //Espacements
  --space-xsmall: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 24px;
  --space-xlarge: 48px;

  //Typographies
  --text: 'Geomanist';
  --title: 'Gilroy';

  //Taille de police
  --font-small: 14px;
  --font-body: 18px;
  --font-title: 22px;

  //Bordures
  --border: #8E93AB;

}
