@import 'tools/reset';
@import 'tools/variables';
@import 'tools/typography';


body {
  font-family: 'Geomanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:var(--textGray);
  background:var(--background);
  line-height: 1.2;
}

.slick-list {
  padding:0 20% 0 0 !important;
}

.slick-slide {
  padding-right: 20px!important;
}

 a {
   text-decoration: none;
 }
