@import 'tools/reset';
@import 'tools/variables';
@import 'tools/typography';


body {
  font-family: 'Geomanist';
  font-weight: 400;
  font-size: 16px;
<<<<<<< HEAD
}
  
=======
}
>>>>>>> 4b83acd50a6b6c82739f07acaab6b217e7c0d528
